h1{font-size:60px;
    font-family: 'Raleway', sans-serif;}

h2{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  }

body{background-color:#b79277;}
.welcome{background-color:green;}

a:hover{color:#82afb4;}

nav{margin-top:100px;}

p{font-family: 'Raleway', sans-serif;
font-size: 17px;}


.mainnav{display: inline;
         font-size:25px;
         text-decoration:underline;
         color:white;
        margin-left: 48px;
        font-family: 'Raleway', sans-serif;
        text-decoration:none;}


.orbit{border:none;
      background-color:none;
      }

.coffeeimg{border:none;}

.circle1{background-color:red;
         border: solid black 2px;
         border-radius:100%;}

.circle2{background-color:green;
         border: solid black 2px;
         border-radius:100%;}

.circle3{background-color:blue;
         border: solid black 2px;
         border-radius:100%;}

.circle4{background-color:purple;
         border: solid black 2px;
         border-radius:100%;}

.blank1{background-color:blue;}

.blank2{background-color:blue;}

#form1 {background-color: ;
font-family:'Raleway', sans-serif;
font-size: 17px;
margin-bottom: 1em;}



}



/*Below is a test run for the orbit sliders; delete if necessary*/
$white: #fefefe;

/* Demo Styles */
